* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	font-family: Arial;
	font-size: 15px;
	color: #555;
	width: 100%;
	background: #fff;
}

.container {
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 500px;
	margin: 0 auto ;
}

.swipe--block {
	margin-top: 30px;
	width: 100%;
	overflow: hidden;
}
.swipe--content {
	font-size: 0;
	white-space: nowrap;
	position: relative;

	user-select: none;
}
.swipe--item {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	border: 1px solid #ccc;
	padding: 10px 15px;
	height: 72px;
	line-height: 50px;
	max-width: 120px;
	text-align: center;
	white-space: normal;
	margin-left: 5px;
}
.swipe--item:first-child {
	margin-left: 0;
}
.swipe--item p {
	display: inline-block;
	vertical-align: middle;
	line-height: 16px;
}